/*GLOBAL*/
/** {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
html, body {
    max-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    font-family: Monsterrat, sans-serif;
}

header {
    min-height: 100%;
}
/*HEADER*/
.header--wrapper {
    width: 100%;
    height: 90px;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}
.header--block__lef {
    float: left;
}
.header--block__lef div {
    display: inline-block;
    vertical-align: middle;
}
.header--block__lef__phones {
    width: 130px;
    height: 28px;
    line-height: 15px;
    font-weight: 500;
}
.header--block__lef__phones {
    margin-right: 3px;
    line-height: 15px;
}
.header--block__lef__phones img {
    width: 14px;
    height: 22px;
    margin-right: 7px;
    vertical-align: middle;
}
.phone--number {
    font-weight: 700;
    font-size: 16px;
}
.phone--number__smaller {
    font-size: 11px;
}
.header--block__left__mail img {
    margin-right: 9px;
}

.mail--link {
    text-decoration: none;
    color: #000;
}

.header--block__center {
    width: 50%;
    display: inline-block;
    margin: 0 auto;
}
.header--block__right {
    float: right;
}
.header--block__right div {
    display: inline-block;
    vertical-align: middle;
}
/*HEADER MENU*/
.header--menu {
    display: flex;
    width: 100%;
    background-color: #ebebeb;
    height: 56px;
}
.header--menu--element {
    width: 176px;
    height: 56px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.header--menu--element:focus {
    outline: none;
}
.sale {
   color: white;
    background-color: #ea2423;
    border: none;
}

/*DROP DOWN*/
.dropbtn {
    background-color: #ebebeb;
    color: #000000;
    border-left: none;
    border-right: 4px solid #f9f9f9;
    border-top: none;
    border-bottom:none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d9d9d9;
}
.header--menu--element__right {
    text-align: right;
    float: right;
    width: 420px;
    display: inline-block;
    vertical-align: middle;
}
.blog {
    font-weight: lighter !important;
    font-size: 15px;
    text-align: right;
    border: none;
    background-color: #ebebeb;
}
.blog--icon {
    vertical-align: middle;
    filter: grayscale(100%);
}
/*ADVERT*/
.advert{
    margin-top: 1%;
    width: 100%;
    height: 300px;
    background-color: #ea2423;
}
.advert--info {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
 .advert--clockImg , .advert--text  {
    display: inline-block;
    vertical-align: middle;
}
 .advert--clockImg {
     margin-right: 1%;
 }

/*List of products*/
#listOfProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    margin-top: 4%;
 }

.order--wrapper {
    width: 360px;
    height: 460px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    list-style: none;
    margin-bottom: 2%;
    margin-right: 6px;
}
.order--wrapper a {
    text-decoration: none;
}

.order--top img {
    margin-top: 3%;
    margin-left: 6%;
    width: 18px;
    height: 18px;
}

.order--top__savings {
    text-align: center;
    float: right;
    width: 178px;
    height: 39px;
    line-height: 39px;
    border: 1px solid #ff0000;
    color: #ff0000;
    font-size: 15px;
    font-weight: 400;
    font-family: Monsterrat, sans-serif;
}
.order--center {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order--bottom {
    height: 15%;
    margin-left: 8%
}
.order--bottom__prices div {
    display: inline-block;
    margin-bottom: 3%;
}
.order--bottom__prices__final {
    width: 78px;
    height: 15px;
    color: #ff0000;
    font-size: 20px;
    font-weight: 700;

}
.order--bottom__prices__base {
    width: 54px;
    height: 13px;
    color: #1a171b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: line-through
}
.order--bottom__name {
    width: 300px;
    height: 31px;
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 3%;
}
.order--bottom__producer {
    color: #9f9f9f;
}
/*SELECTOR*/
.select--itemsPerPage {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
   vertical-align: middle;
    margin-top: 4%;
}
.select--itemsPerPage select {
    margin-right: 6%;
    margin-left: 1%;
    height: 30px;
    width: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
}
.select--itemsPerPage select:focus {
    outline: none;
}
/*FOOTER*/
.footer--upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 200px;
}
.footer--shopping {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.footer--shopping h3{
    height: 20px;
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
}
.footer--shopping a {
    text-decoration: none;
    width: 151px;
    color: #1a171b;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
}
.footer--shopping a:hover {
    font-weight: 700;
}
.footer--shopping p {
    margin-top: 12%;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
}
.footer--lookbook {
    color: #ff0000 !important;
    font-weight: bold !important;
    margin-top: 7%;
}
.footer--phoneImg img {
    margin-top: 8%;
    margin-right: 6%;
    display: inline-block;
    vertical-align: middle;
}

.footer--openInfo {
    margin-top: 6%;
}
.footer--btn {
    margin-top: 14%;
    width: 186px;
    height: 36px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}
.footer--btn:hover {
    background-color: #4d4d4d;
}
.footer--lower {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer--lower__left {
    margin-left: 3%;
    align-self: flex-end;
}
.footer--lower__right {
    width: 300px;
    float: right;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
.footer--lower__right p {
    color: #1a171b;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}
.footer--lower__right img {
    width: 74px;
    height: 35px;
}